[Unit]
Description=apolloqa-ws
After=network.target

[Service]
Environment=
Type=simple
User=apolloqa
ExecStart=npm start --prefix /home/apolloqa/live/ApolloqA/ws
Restart=on-failure

[Install]
WantedBy=multi-user.target
