[Unit]
Description=apolloqa-web
After=network.target

[Service]
Environment=
Type=simple
User=apolloqa
ExecStart=npm start --prefix /home/apolloqa/live/ApolloqA/web
Restart=on-failure

[Install]
WantedBy=multi-user.target
